# NetBeans
nbproject/private/
build/
dist/
nbbuild/
nbdist/
*.bak

# Java compiled files
*.class
*.jar
*.war
*.ear

# Log files
*.log

# OS / system files
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# IDEs
*.iml
.idea/
*.ipr
*.iws

# VSCode (kalau kamu pakai)
.vscode/

# Others
*.zip
*.rar
*.7z
*.tar.gz
